.discount-sm {
  padding: 5% 0;
  margin: 0 !important;
}
.img-area {
  background-color: #f7f7f7;
  text-align: center;
  padding: 10px;
  height: 150px;
}
.img-area img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card .name-card {
  text-align: center;
  padding: 10%;
  font-size: 0.7em;
}
